body{

}

.container {
	margin-top: 50px;
	max-width: 700px;
}

#main{
	width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	background-color: #B0C4DE;
	padding: 30px;
	height: 130vh;
}

label{
	display: none;
}

form{
	margin-top: 20px;
}

#timer{
	font-size: 40px;
	font-weight: 500px;
}

#done{
	margin-top: 20px;
}

#begin{
	margin-top: 20px;
}

#recorder{
	display: none;
}
#preview{
	display: none;
}
#done{
	display: none;
}
#question{
	font-size: 20px; 
	padding-bottom: 20px;
	font-stlye: italic;
}
#playlist {
	display: none;
}

video {
  background: #222;
  height: 232px;
  margin: 0 0 20px 0;
  width: 100%;
  clear: right;
}

video {
  margin: 0 12px 20px 0;
  vertical-align: top;
  width: calc(20em - 10px);
}


video:last-of-type {
  margin: 0 0 20px 0;
}

video#gumVideo {
  margin: 0 20px 20px 0;
}

#loader {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}